pandas
openpyxl
mlxtend
matplotlib
seaborn
numpy
scikit-learn
fastapi
uvicorn[standard]
streamlit
gradio
sqlalchemy
pydantic

# for machine learning and deep learning
torch

# for dbt
dbt-core
dbt-sqlite
